:root {
  
    --ff-sans:  'Roboto', sans-serif;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-bold: 500;
    --fw-extra-bold: 800;
    --fs-base: 16px;
    --fs-small: 0.92rem;
    --fs-body: 1rem;
    --fs-title: 1.1rem;
    --bg-color: #00BFAA;
    
  
    --lh-body: 1.56;
    --gap: 24px;
    --finger: 46px;
    --header:70px;
    --footer:50px;
  }
 .light{
  --c-theme: #EEF0F2;
  --c-text: #20252D;
 }
.dark {
    --c-theme: #20252D;
    --c-text: #fff;
}