.Footer {
    height: var(--footer);
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    font-size: var(--fs-small);
    color: var(--c-text);
    .container{
        height: 100%;
        display: flex;
        align-items: center;
        .span{color:var(--color-red)}
    }
}

