.Footer {
    height: var(--footer);
    font-size: var(--fs-small);
    color: var(--c-text);
    .container{
        height: 100%;
        display: flex;
        align-items: center;
        .span{color:var(--color-red)}
    }
}

