.Post{
    padding: 32px 0;
  
    h3{
      font-weight: var(--fw-extra-bold);
      margin-top: .3em;
      margin-bottom: .3em;
      font-size: 1.4em;
      display: inline-block;
      a{
        display: flex;
        align-items: center;
      }
      a:hover{
        color:var(--bg-color)
      }
      .flag{
         height: 19px;
         width: 19px;
         margin-left: 5px;
      }
    }
    .text{
      font-size: var( --fs-small);
      color:var(--c-text);
    }
    .details{
      display: flex;
      align-items: center;
      font-size: var(--fs-small);
      margin-bottom: 7px;
      span{
        color:var(--c-default-light);
        font-weight: var(--fw-bold);
        margin-left: 5px;
      }
      .point{
          color:var(--color-red);
      }
    }
   
    
}